<?xml version="1.0" encoding="UTF-8"?>
<controller-info>
    <controller-host>{{ controllerHost }}</controller-host>

    <controller-port>{{ controllerPort }}</controller-port>

    <controller-ssl-enabled>{{ controllerSslEnabled }}</controller-ssl-enabled>

    <enable-orchestration>{{ enableOrchestration }}</enable-orchestration>

    <unique-host-id>{{ uniqueHostId }}</unique-host-id>

    <account-access-key>{{ accountAccessKey }}</account-access-key>

    <account-name>{{ accountName }}</account-name>

    <sim-enabled>{{ simEnabled }}</sim-enabled>

    <machine-path>{{ machinePath }}</machine-path>

</controller-info>
